* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ADD8E6;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}


.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #333;
}

#score-section {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
}

#question-section {
    margin-bottom: 30px;
}

#question {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#true-button {
    background-color: #4CAF50;
    color: white;
}

#false-button {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

#result-section {
    margin-top: 30px;
}

#result-message {
    font-size: 1.5em;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #777;
    font-size: 1.2em;
}
